<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Store</title>
    <link rel="stylesheet" href="/style/product.css">
    <link rel="stylesheet" href="/style/libs/hover.css">
    <link rel="stylesheet" href="/style/libs/swiper.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Source+Code+Pro" rel="stylesheet">

</head>


<body>

    <div class="app">


        <section class="app__banner">


            <header class="app__header">
                <nav class="app__nav">


                    <a href="/" class="logo"> <img src="/images/logo.png" alt=""></a>

                    <ul class="app__navbar1">

                        <a href="/" class="app__navlinks1 hvr-underline-from-left">Home</a>
                        <a href="#" class="app__navlinks1 hvr-underline-from-left">Productos</a>
                        <a href="#" class="app__navlinks1 hvr-underline-from-left">Ofertas</a>
                        <a href="#" class="app__navlinks1 hvr-underline-from-left">Novedades</a>


                    </ul>


                    <div class="app__navbar2">

                        <a href="#" class="app__navlinks1 hvr-underline-from-left" id="signin">Iniciar Sesión</a>


                        <div class="app__iconos">

                            <a href="#" class="app__navlinks2"><img src="/images/lupa.png" alt=""></a>
                            <div class="app__navline"></div>
                            <a href="/bag" class="app__navlinks2"><img src="/images/bolsa.png" alt=""></a>

                            <!-- Me agrega las notificaciones de productos en el carrito -->
                            <p class="carrito__num"></p>




                        </div>
                    </div>


                </nav>

            </header>


        </section>




        <section class="app__vista">

            <div class="app__vista__nav">

                <a href="#"><img class="app__vista__nav__img" src="/images/back.png" alt=""></a>
                <a href="/" class="app__vista__nav__links">
                    <h3>Home</h3>
                </a>
                <h3 class="app__vista__nav__links">/</h3>
                <a href="/store" class="app__vista__nav__links">
                    <h3>Productos</h3>
                </a>
                <h3 class="app__vista__nav__links">/</h3>
                <h3 id="rutaSelecc" class="app__vista__nav__links">Flores</h3>


            </div>

            <!-- Articulo vista del producto -->

            <article class="app__vista__vistaProducto">

                <div class="app__vista__vistaProducto__visual">


                    <div class="app__vista__vistaProducto__visual__imgArreglo">

                        <div class="app__vista__vistaProducto__visual__imgArreglo__imgs">

                            <img class="app__vista__vistaProducto__visual__imgArreglo__imgs__img"
                                src="../{{producto.imagen.[0]}}" >
                            <img class="app__vista__vistaProducto__visual__imgArreglo__imgs__img"
                                src="../{{producto.imagen.[1]}}">
                            <img class="app__vista__vistaProducto__visual__imgArreglo__imgs__img"
                                src="../{{producto.imagen.[2]}}">
                        </div>

                        <div class="app__vista__vistaProducto__visual__imgArreglo__icons">

<a href="" ><img src="/images/likeEspecific.png" class="app__vista__vistaProducto__visual__imgArreglo__icons__like" alt=""></a>

<a href=""><img src="/images/compartir.png" class="app__vista__vistaProducto__visual__imgArreglo__icons__compartir" alt=""></a>


                        </div>


                    </div>

                    <div class="app__vista__vistaProducto__visual__imgGrande">

                        <img class="app__vista__vistaProducto__visual__imgGrande__img" src="../{{producto.imagen.[0]}}">

                    </div>





                </div>

                <div class="app__vista__vistaProducto__info">
                    <h3 class="app__vista__vistaProducto__info__nombre">{{producto.nombre}}</h3>
                    <p class="app__vista__vistaProducto__info__precio">${{producto.precio}}</p>
                    <button name="{{producto.nombre}}" class="app__vista__vistaProducto__info__agregar">Agregar</button>

                </div>


            </article>



        </section>

    </div>

    <!-- library -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/libs/parallax.js"></script>

    <script src="/js/libs/swipe.js"></script>

    <script src="/js/main.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/store.js"></script>
    <script src="/js/carrito.js"></script>

</body>


</html>