<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Store</title>
    <link rel="stylesheet" href="/style/libs/hover.css">
    <link rel="stylesheet" href="/style/libs/swiper.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Source+Code+Pro" rel="stylesheet">
    <link rel="stylesheet" href="/style/store.css">
</head>

<body>

    <div class="app">


        <section class="app__banner">

            <div class="app__bannerimg" data-src="/images/banner_store.jpg" data-pos-x="left" data-parallax>

                <header class="app__header">
                    <nav class="app__nav">


                        <a href="/" class="logo"> <img src="/images/logo.png" alt=""></a>

                        <ul class="app__navbar1">

                            <a href="/" class="app__navlinks1 hvr-underline-from-left">Home</a>
                            <a href="#" class="app__navlinks1 hvr-underline-from-left">Productos</a>
                            <a href="#" class="app__navlinks1 hvr-underline-from-left">Ofertas</a>
                            <a href="#" class="app__navlinks1 hvr-underline-from-left">Novedades</a>


                        </ul>


                        <div class="app__navbar2">

                            <a href="#" class="app__navlinks1 hvr-underline-from-left" id="signin">Iniciar Sesión</a>


                            <div class="app__iconos">

                                <a href="#" class="app__navlinks2"><img src="/images/lupa.png" alt=""></a>
                                <div class="app__navline"></div>
                                <a href="/bag" class="app__navlinks2"><img src="/images/bolsa.png" alt=""></a>
                                
                                <!-- Me agrega las notificaciones de productos en el carrito -->
                                <p class="carrito__num"></p>




                            </div>
                        </div>


                    </nav>

                </header>

            </div>



        </section>

        <section class="app__tienda">

<div class="app__tienda__titulo">

    <div class="app__tienda__titulo__filtro">

<h3 class="app__tienda__titulo__filtro__texto">Filtros</h3>

    </div>

    <div class="app__tienda__titulo__todas">
<h3 class="app__tienda__titulo__todas__texto">Todas las flores</h3>
    </div>
</div>

     <h2>Filtros</h2>

        {{#if esorquideas}}
        Orquideas
        {{/if}}

        {{#if esrosas}}
        Rosas
        {{/if}}



        <a id="filtroTipo" href="/store/orquideas">Orquideas</a>
        <a id="filtroTipo" href="/store/rosas">Rosas</a>
        <a id="filtroTipo" href="/store/claveles">Claveles</a>

        <input value={{valorAltura}} id="inputAltura" type="range" name="altura" min="10" max="100">

<!--Empieza la sección que contiene los productos en lista-->

<div class="app__tienda__contProd">

  {{#each productos}}
            <div class="app__tienda__contProd__producto">
                <a class="app__tienda__contProd__producto__contenido" href="/product/{{nombre}}">
                    <img class= "app__tienda__contProd__producto__imagen" src="../{{imagen.[0]}}" width="410px">
                    <h3 class="app__tienda__contProd__producto__nombre">{{nombre}}</h3>
                    <p class="app__tienda__contProd__producto__precio">{{precio}} COP</p>
                    <p class="app__tienda__contProd__producto__tipo">{{tipo}}</p>
                   
                </a>

                <button name="{{nombre}}" class="producto__agregar">Agregar</button>

            </div>
            {{/each}}


</div>

   



      
          
     






        </section>


        






    </div>



    <!-- library -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/libs/parallax.js"></script>

    <script src="/js/libs/swipe.js"></script>

    <script src="/js/main.js"></script>
    <script src="/js/store.js"></script>
    <script src="/js/carrito.js"></script>


    <script>
      //  ScrollReveal().reveal('.reveal');

    </script>

</body>

</html>